body{
	margin: 0px;
	padding: 0px;}
			
#myCanvas{
	border: 1px solid #9C9898;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	top-margin: 100px;
	display: block;
}

p{
	color:#ffffff;
}